<br><br><br>
<br><br><br>

<div class="jumbotron">
  <h1 class="display-4">Welcome {{name}}</h1>
</div>

<center>
  {{#each feedbackData}}
  <div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Feedback</div>
    <div class="card-body text-primary">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">{{this.message}}</p>
    </div>
  </div>
</center>
<center>
  {{/each}}
  {{#each contactData}}
  <div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Contact</div>
    <div class="card-body text-primary">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">{{this.message}}</p>
    </div>
  </div>
  {{/each}}
</center>